# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
media/
staticfiles/
.env
.envs/
envs/
*.local

# Editor settings
.idea/
.vscode/

# Migrations
*/migrations/*

# Otros archivos
*.DS_Store
Thumbs.db
